#Files to ignore for MUSim git repository

### File types to completely ignore ###
*.ffs_db
*.lnk
*.asv
*.mat
*.docx
*.ffs_lock
*.exe
*.dll
*.DS_Store
*.mat
*.GND
*.GRP
*.pbs.o*
*.pbs.e*

### Folders to completely ignore ###
data/*
results/*
torque_output/*

### File subsets in folder to ignore ###
