#Files to ignore for MUSim git repository

### File types to completely ignore ###
*.ffs_db
*.lnk
*.asv
*.mat
*.docx

### Folders to completely ignore ###
data/*
results/*

### File subsets in folder to ignore ###
